body {
    font-family: "Times New Roman", serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 15px;          
    line-height: 1.4;         
}
.cv {
    width: 800px;
    margin: 20px auto;        
    background: white;
    padding: 25px 30px;       
}


/* HEADER */

header {
    text-align: center;
    margin-bottom: 15px;     
}

header h1 {
    font-size: 24px;          
    margin-bottom: 3px;
}

.title {
    font-size: 15px;          
    margin: 2px 0;
}

.contact {
    margin: 2px 0;
}

.links {
    margin: 4px 0;
}

.links a {
    text-decoration: none;
    color: rgb(22, 15, 109);
}


/* SECTION */

section {
    margin-top: 15px;        
}

section h2 {
    font-size: 16px;          
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 6px;
}


/* ENTRY */

.entry {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;         
}

.entry .left {
    width: 70%;
}

.entry .right {
    width: 30%;
    text-align: right;
}


/* LIST */

ul {
    margin-top: 3px;
    margin-left: 18px;
    padding-left: 0;
}

ul li {
    margin-bottom: 2px;       
}
